<form  *ngIf="post">
  <div class="form-group">
    <label for="title">
      <strong>Title of your post</strong>
    </label>
    <input
      type="text"
      class="form-control"
      name="title"
      id="title"
      [(ngModel)]="post.title">
  </div>
  <div class="form-group">
    <strong class="text">Text of your post</strong>
    <quill-editor name="editor" #editor [modules]="{toolbar: optToolbar}" [(ngModel)]="post.content"></quill-editor>
  </div>
  <div class="form-group">
    <strong class="text">Image of your post</strong>
    <div class="image-wrapper">
      <input type="file"
             name="file"
             id="file"
             class="inputfile"
             (change)="onFileChanged($event)">
      <label for="file">Choose an image</label>
      <img [src]="imageURL" class="image">
    </div>
  </div>
  <button type="submit" class="btn btn-primary">Save changes</button>
</form>
