<form #appForm="ngForm">
  <div class="form-group">
    <label for="title">
      <strong>Title of your post</strong>
    </label>
    <input
      type="text"
      class="form-control"
      name="title"
      id="title"
      [(ngModel)]="title">
  </div>
  <div class="form-group">
    <strong class="text">Text of your post</strong>
    <quill-editor name="editor" [modules]="{toolbar: optToolbar}" [(ngModel)]="text"></quill-editor>
  </div>
  <div class="form-group">
    <strong class="text">Image of your post</strong>
    <div class="image-wrapper">
      <input type="file"
             name="file"
             id="file"
             class="inputfile"
             (change)="onFileChanged($event)">
      <label for="file">Choose an image</label>
      <img [src]="imageURL" class="image">
      <div *ngIf="errorImgMessage" class="validate-error">{{ errorImgMessage }}</div>
    </div>
  </div>
  <button type="submit" class="my-button button-update" (click)="onSubmit()"  [disabled]="isDisabled(appForm)"><span>Save post</span></button>
  <span *ngIf="editMode">
    <button type="button" class="my-button button-delete" (click)="openModal(modalDialog)"><span>Delete post</span></button>
    <ng-template #modalDialog>
      <div class="modal-body text-center confirm-body">
        <p>Do you want to delete the post?</p>
        <button type="button" class="btn btn-primary cta" (click)="confirm()">Yes</button>
        <button type="button" class="btn btn-danger cta" (click)="decline()">No</button>
      </div>
    </ng-template>
  </span>
</form>

