<div class="checkout-wrapper" *ngIf="!fetchOrderLoading && orderInfo">
  <h3 class="title">Congratulations! Your order has been placed.</h3>
  <div id="checkout">
    <div class="order-title">
      <span>Your order number: №{{orderInfo['order_number']}}</span>
    </div>
    <div class="info-title">Customer information:</div>
    <div *ngIf="orderPerson">
      <div class="info">
        <span class="item-title">First name: </span>
        <span class="item-text">{{orderPerson.data.first_name}}</span>
      </div>
      <div class="info">
        <span class="item-title">Surname: </span>
        <span class="item-text">{{orderPerson.data.surname}}</span>
      </div>
      <div class="info">
        <span class="item-title">Phone: </span>
        <span class="item-text">{{orderPerson.data.phone}}</span>
      </div>
      <div class="info">
        <span class="item-title">Postal code: </span>
        <span class="item-text">{{orderPerson.data.post_code}}</span>
      </div>
      <div class="info">
        <span class="item-title">Country: </span>
        <span class="item-text">{{orderPerson.data.country}}</span>
      </div>
      <div class="info">
        <span class="item-title">City: </span>
        <span class="item-text">{{orderPerson.data.city}}</span>
      </div>
      <div class="info">
        <span class="item-title">Email: </span>
        <span class="item-text">{{orderPerson.email}}</span>
      </div>
    </div>
    <div class="total" *ngIf="orderInfo">Total amount to be paid: {{orderInfo['total_amount']}}$</div>
    <table>
      <tr>
        <th>Brand</th>
        <th>Category</th>
        <th>Size</th>
        <th>Quantity</th>
        <th>Amount</th>
      </tr>
      <ng-container *ngIf="orders">
        <tr *ngFor="let order of orders">
          <td>{{order.brand}}</td>
          <td>{{order.category}}</td>
          <td>{{order.size}}</td>
          <td>{{order.quantity}}</td>
          <td>{{order.amount}}$</td>
        </tr>
      </ng-container>
    </table>
  </div>
  <div class="button-wrapper">
    <app-button [text]="'Download PDF'" (onClick)="downloadPdf()"></app-button>
  </div>
</div>
<div class="loader-wrapper">
  <app-ripple *ngIf="fetchOrderLoading"></app-ripple>
</div>

