.post-image {
  max-width: 100%;
  height: auto;
  margin-botton: 30px;
  position: relative;
  z-index: 1;
  vertical-align: bottom;
}
.post-title {
  display: inline-block;
  padding: 8px;
  word-break: break-word;
  max-height: 63px;
  font-size: 16px;
  overflow: hidden;
  width: 70%;
  background-color: rgba(255, 255, 255, .8);
  border: 2px solid black;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  z-index: 2;
  font-family: 'goudy_old_style_small_caps_Rg';
  text-transform: uppercase;
}

@media screen and (min-width:990px) and (max-width:1200px){

}

@media screen and (max-width:991px){
  //.post-image {
  //  max-width: 280px;
  //}
}
@media screen and (max-width:768px){
  //.post-image {
  //  max-width: 220px;
  //}
}
@media screen and (max-width: 576px) {
  //.post-image {
  //  max-width: 320px;
  //}
}
@media screen and (max-width: 450px) {
  //.post-image {
  //  max-width: 250px;
  //}
}
