<div class="loading-animation">
  <app-ripple *ngIf="fetchOrdersLoading"></app-ripple>
</div>

<div class="container" *ngIf="!fetchOrdersLoading">
  <div class="no-content-box" *ngIf="!orders.length">
    <img src="/assets/bill.svg" alt="" class="icon">
    <div class="title">You have no orders yet.</div>
    <div class="text">Click <a routerLink="/shop/products">here</a> to continue shopping.</div>
  </div>
  <ng-container *ngIf="orders.length">
    <header class="orders-header">
      <div class="amount">Order number</div>
      <div class="text price">Total amount</div>
      <div class="text price">Date</div>
    </header>
    <app-order-item *ngFor="let order of orders" [order]="order"></app-order-item>
  </ng-container>
  <app-corners></app-corners>
</div>
