<div class="wishlist-item-container" hover activeClass="active" [el]="[addBlock, heartIcon, deleteBlock, detailsBlock]">
  <div class="img-box" (click)="openProductDetails()">
    <img [src]="imagePath" alt="" class="wishlist-img">
    <img src="/assets/red-heart.svg" alt="" class="heart-icon" #heartIcon>
  </div>
  <div class="content-box">
    <div class="block">
      <div class="title brand">{{wishlistItem.brand}}</div>
      <div class="subcategory">{{wishlistItem.category}}, {{wishlistItem.subcategory.name}}</div>
    </div>
    <div class="block">
      <div class="price-wrapper">
        <div class="price" [ngStyle]="{textDecoration : wishlistItem.discount ? 'line-through' : 'none', color : wishlistItem.discount ? 'grey' : 'black'}">${{wishlistItem.price}}</div>
        <div class="discount" *ngIf="wishlistItem.discount">${{wishlistItem.discount}}</div>
      </div>
      <div class="actions-block">
        <div class="additional-block details-block" #detailsBlock (click)="openProductDetails()">
          <img src="/assets/shop/eye.svg" alt="" class="icon">
          <div class="text add-text">Watch Details</div>
        </div>
        <div class="additional-block cart-block" #addBlock>
          <div class="wrapper" *ngIf="!addToCartWasClicked" (click)="openSelect($event)">
            <img src="/assets/shop/bag.svg" alt="" class="icon">
            <div class="text">Add to Cart</div>
          </div>
          <ng-select [searchable]="false" (open)="chooseSize($event)" (change)="addToCart($event)" [items]="availableSizes" *ngIf="addToCartWasClicked"
             [(ngModel)]="selectedSize" name="size" placeholder="Choose a size" class="custom">
          </ng-select>
        </div>
        <div class="additional-block delete-block" #deleteBlock (click)="openModal(modalDialog)">
          <img src="/assets/waste-bin.svg" alt="" class="icon">
          <div class="text delete-text">Delete</div>
        </div>
        <ng-template #modalDialog>
          <div class="modal-body text-center confirm-body">
            <p>Do you want to delete this product from wishlist?</p>
            <button type="button" class="btn btn-primary cta" (click)="confirm()">Yes</button>
            <button type="button" class="btn btn-danger cta" (click)="decline()">No</button>
          </div>
        </ng-template>
      </div>
    </div>
  </div>
</div>
