<h2 class="heading">SHOP THE TRUE DRAMATIC DRESSES</h2>
<div class="wrapper">
  <div class="filters">
    <h5 class="filter-title">SHOP BY</h5>
    <ul>
      <li>Dresses & Coats</li>
      <li>Tops</li>
      <li>Bottoms</li>
      <li>Shoes</li>
      <li>Accessories</li>
    </ul>
    <h5 class="filter-title">REFINE</h5>
    <ul>
      <li>Size</li>
      <li>Colour</li>
      <li>Price</li>
    </ul>
  </div>
  <div class="content">
    <app-product *ngFor="let product of products" [product]="product"></app-product>
  </div>
</div>
