<h2 class="heading">SHOP THE TRUE DRAMATIC DRESSES</h2>
<div class="wrapper">
  <div class="filters">
    <h5 class="filter-title">SHOP BY</h5>
    <ul>
      <li>Dresses & Coats</li>
      <li>Tops</li>
      <li>Bottoms</li>
      <li>Shoes</li>
      <li>Accessories</li>
    </ul>
    <h5 class="filter-title">REFINE</h5>
    <ul>
      <li>Size</li>
      <li>Colour</li>
      <li>Price</li>
    </ul>
  </div>
  <div class="content-wrapper">

    <ngx-masonry class="masonry-container" [useImagesLoaded]="false">
      <ngxMasonryItem *ngFor="let product of products" class="masonry-item">
        <app-product [product]="product"></app-product>
      </ngxMasonryItem>
    </ngx-masonry>

    <!--<app-product *ngFor="let product of products" [product]="product"></app-product>-->

    <div class="button-wrapper" *ngIf="products.length >= 3 && products.length < totalAmount">
      <button (click)="loadMore()" class="my-button load">Load more</button>
    </div>
  </div>
</div>


