.heading {
  display: flex;
  justify-content: center;
  align-items: flex-end;
  padding-bottom: 20px;
  margin-top: 20px;
  margin-bottom: 0;
  height: 100px;
  font-weight: 600;
  letter-spacing: 1px;
  font-family: 'goudy_old_style_small_caps_Rg';
}
/deep/ .masonry-container {
  text-align: center;
}
/deep/ .masonry-item {
  width: 240px;
  cursor: pointer;
  z-index: 1;
  margin: 5px;
}
.wrapper {
  display: flex;
  width: 100%;
  .filters {
    width: 200px;
    font-family: 'goudy_old_stylebold_italic';
    margin-right: 50px;
    .filter-title {
      border-bottom: 2px solid black;
    }
  }
  .content-wrapper {
    width: 100%;
    text-align: center;
    .content {
      width: 100%;
      display: grid;
      grid-template-columns: repeat(auto-fill, minmax(200px, 1fr));
      grid-template-rows: auto [last-line];
      font-family: 'goudy_old_stylebold_italic';
    }
    .button-wrapper {
      text-align: center;
      margin-top: 30px;
      .load {
        border: 2px solid black;
        background: linear-gradient(135deg, #71767c, #fff);
        box-shadow: 0 3px 1px -2px rgba(0,0,0,.2), 0 2px 2px 0 rgba(0,0,0,.14), 0 1px 5px 0 rgba(0,0,0,.12);
      }
    }

  }

}

