<h2 class="heading">SHOP THE TRUE DRAMATIC DRESSES</h2>
<div class="wrapper" #parent>
  <div class="filters">
    <h5 class="filter-title">SHOP BY</h5>
    <ul class="filter-options">
      <li *ngFor="let category of categories">
        <a [routerLink]="['/shop/products']" [queryParams]="{category: category.id}">{{category.category}}</a>
      </li>
    </ul>
    <h5 class="filter-title">REFINE</h5>
    <ul>
      <li>Price</li>
    </ul>
  </div>
  <div class="content-wrapper" #container>
    <div class="lds-ripple" *ngIf="initLoading"><div></div><div></div></div>
    <ng-container *ngIf="products">
      <div class="content" *ngIf="products.length">
        <app-product *ngFor="let product of products"
                     [product]="product"
                     [attr.id]="'item' + product.id"
                     [wishlist]="wishlist">
        </app-product>
      </div>
      <div class="no-content" *ngIf="!products.length">
        <img src="/assets/loupe.svg" alt="" class="loupe-icon">
        <span>Sorry, no results were found.</span>
      </div>
      <div class="button-wrapper" *ngIf="products.length >= 3 && products.length < totalAmount && (!initLoading || !loading)">
        <button (click)="loadMore()" class="my-button load">
          <span *ngIf="!loading">Load more</span>
          <app-spinner *ngIf="loading"></app-spinner>
        </button>
      </div>
    </ng-container>
  </div>
</div>

