.wrapper {
  display: flex;
  width: 100%;
  margin-top: 50px;
  padding: 0 10px;
  .content-wrapper {
    width: calc(100% - 200px);
    text-align: center;
    .content {
      width: 100%;
      display: grid;
      grid-template-columns: repeat(auto-fill, minmax(190px, 1fr));
      grid-template-rows: auto [last-line];
      font-family: 'goudy_old_stylebold_italic';
    }
    .no-content {
      font-size: 20px;
      font-weight: 600;
      margin: 50px 0;
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
      .loupe-icon {
        width: 40px;
        height: 40px;
        margin-bottom: 30px;
      }
    }
    .button-wrapper {
      text-align: center;
      margin-top: 30px;
      .load {
        border: 2px solid black;
        background: linear-gradient(135deg, #71767c, #fff);
        box-shadow: 0 3px 1px -2px rgba(0,0,0,.2), 0 2px 2px 0 rgba(0,0,0,.14), 0 1px 5px 0 rgba(0,0,0,.12);
      }
    }
  }
}

@media screen and (max-width:768px){
  .wrapper {
    flex-direction: column;
    .content-wrapper {
      width: 100%;
    }
  }
}
