<div class="product-card">
  <div class="img-wrapper">
    <img [src]="imageUrl" alt="" class="image">
  </div>
  <div class="manage-panel">
    <span class="icon wish-icon"></span>
    <span class="icon eye-icon"></span>
    <span class="icon bag-icon"></span>
  </div>
  <div class="brand">{{ product.brand }}</div>
  <div class="price" [ngStyle]="{textDecoration : product.discount ? 'line-through' : none}">${{product.price}}</div>
  <div class="price" *ngIf="product.discount">${{product.discount}}</div>
</div>
