/deep/ .auth-modal.modal-dialog {
  top: 50px;
  max-width: 500px;
}
form {
  padding: 15px;
  .form-control:focus {
    box-shadow: 0 0 0 1px rgba(0,123,255,.25);
  }
  .validate-error {
    color: red;
    font-size: 12px;
    margin-top: -10px;
    margin-bottom: 10px;
  }
  .input-error {
    border: 1px solid red;
    &:focus {
      box-shadow: 0 0 0 1px red;
    }
  }
  button[disabled] {
    cursor: not-allowed;
  }
  select {
    cursor: pointer;
    max-width: 150px;
    width: 100%;
    min-width: 70px;
    padding: 5px 20px 5px 5px;
    font-size: 16px;
    line-height:1;
    border: 1px solid #ccc;
    height: 30px;
    border-radius: 5px;
    appearance: none;
    margin-left: 15px;
    background: url('../../../assets/arrow.png') 96% / 10px no-repeat #eee;
    &:focus {
      outline: none;
      border: 1px solid rgb(77, 144, 254);
      border-radius: 5px;
      box-shadow: 0 0 0 1px rgb(77, 144, 254);
    }
  }
  .separate {
    margin: 0 0 15px;
    text-align: center;
  }
  .social-auth-link {
    box-shadow: 0 0 0 1px #CFD9E0;
    width: 200px;
    height: 40px;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 7px;
    margin: 0 auto;
    .social-auth-icon {
      width: 15px;
      height: 15px;
      margin-right: 10px;
    }
    .social-auth-text {
      color: black;
    }
  }
}
