@font-face {
    font-family: 'goudy_old_stylebold';
    src: url('../../assets/Fonts/goudy-style-bold/911fonts.com_goudyoldstylebold__-_911fonts.com_fonts_6fnh-webfont.woff2') format('woff2'),
         url('../../assets/Fonts/goudy-style-bold/911fonts.com_goudyoldstylebold__-_911fonts.com_fonts_6fnh-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}
@font-face {
    font-family: 'goudy_old_stylebold_italic';
    src: url('../../assets/Fonts/goudy-style-bold-italic/goudy_old_style_bold_italic-webfont.woff2') format('woff2'),
         url('../../assets/Fonts/goudy-style-bold-italic/goudy_old_style_bold_italic-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}
@font-face {
    font-family: 'goudy_old_style_small_caps_Rg';
    src: url('../../assets/Fonts/goudy-caps/goudy_old_style_small_caps__ol_regular-webfont.woff2') format('woff2'),
         url('../../assets/Fonts/goudy-caps/goudy_old_style_small_caps__ol_regular-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}
@mixin full-size-img-with-border($url) {
  height: 100%;
  width: 100%;
  position: relative;
  border: 5px solid black;
  background-image: url($url);
  background-repeat: no-repeat;
  background-size: cover;
}

@mixin flex-column-center {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

body{
  background-color: red;
}
.row {
  margin-top: 70px;
  &:last-child {
    margin-bottom: 30px;
  }
}
.section-title {
  font-family: 'goudy_old_style_small_caps_Rg';
  font-size: 30px;
  font-weight: 600;
  color: black;
  text-align: center;
  letter-spacing: 2px;
}
.section-text {
  font-family: 'goudy_old_stylebold_italic';
  font-size: 30px;
  color: black;
  width: 70%;
}
.curly-border {
  background-image: url('../../assets/newAssets/Frame1/backchange.png');
  background-repeat: no-repeat;
  background-size: 100% 100%;
  height: 100%;
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  padding: 90px 0 50px;
  position: relative;
  text-align: center;
}
.text-heading-logo {
  margin: 0 auto;
  background-image: url('../../assets/newAssets/Frame1/Logo.png');
  background-repeat: no-repeat;
  background-size: 100% 100%;
  background-position: center center;
  width: 400px;
  height: 60px;
}
.central-row-wrapper {
  width: 80%;
  height: 100px;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  .central-row {
    width: 100%;
    height: 100%;
    background-color: white;
    border: 3px solid black;
    padding: 0 15px;
    position: relative;
    display: flex;
    align-items: center;
    justify-content: space-around;
    &:before, &:after {
      content: "";
      display: block;
      background-repeat: no-repeat;
      background-size: 100% 100%;
      background-position: center center;
      width: 180px;
      height: 70px;
      position: absolute;
      left: 50%;
      transform: translateX(-50%);
    }
    &:before {
      background-image: url('../../assets/newAssets/Frame2/picture-arrow-up.png');
      top: -65px;
    }
    &:after {
      background-image: url('../../assets/newAssets/Frame2/picture-arrow-down.png');
      top: 90px;
    }
  }
}
.central-row-wrapper {
  .central-row {
    &:before, &:after {
      width: 160px;
      height: 60px;
    }
    &:before {
      top: -55px;
    }
  }
  .central-block {
    background-image: url('../../assets/newAssets/Frame8/BEGIN.png');
    background-repeat: no-repeat;
    background-size: 100% 100%;
    background-position: center center;
    width: 300px;
    margin: 0 auto;
  }
}

.heading-section {
  @include full-size-img-with-border('../../assets/newAssets/Frame1/back1.png');
  .text-heading {
    font-family: 'goudy_old_stylebold';
    font-size: 36px;
    color: black;
    margin-bottom: 15px;
  }
  .heading-section-border {
    justify-content: flex-start;
    padding-top: 40px;
  }
  .section-inner-img {
    background-image: url('../../assets/newAssets/Frame1/Frame1.png');
    background-repeat: no-repeat;
    background-size: 100% 100%;
    background-position: center center;
    height: 50%;
    width: 65%;
    border: 3px solid black;
    position: absolute;
    top: 60%;
    left: 50%;
    transform: translate(-50%, -50%);
    .inner-img-icon {
      background-image: url('../../assets/newAssets/Frame1/circle2.png');
      background-repeat: no-repeat;
      background-size: 100% 100%;
      background-position: center center;
      padding-top: 15%;
      min-width: 15%;
      position: absolute;
      top: 50%;
      left: 50%;
      transform: translate(-50%, -50%);
    }
  }
}

.begin-section {
  @include full-size-img-with-border('../../assets/newAssets/Frame2/Frame-2.png');
  .begin-section-border {
    .capital-letter {
      display: inline-block;
      background-image: url('../../assets/newAssets/Frame2/O.png');
      background-repeat: no-repeat;
      background-size: 40px 50px;
      width: 40px;
      height: 50px;
      margin-bottom: -20px;
    }
    .central-row-wrapper {
      .central-row {
        &:before, &:after {
          width: 160px;
          height: 60px;
        }
        &:before {
          top: -55px;
        }
      }
      .central-block {
        background-image: url('../../assets/newAssets/Frame8/BEGIN.png');
        background-repeat: no-repeat;
        background-size: 100% 100%;
        background-position: center center;
        width: 300px;
        margin: 0 auto;
      }
    }

  }
}
.options-section {
  @include full-size-img-with-border('../../assets/newAssets/Frame3/Frame-3.png');
  .options-row {
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: center;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    .option-block {
      border: 3px solid black;
      font-size: 40px;
      width: 25%;
      height: 100px;
      background-color: white;
      position: relative;
      @include flex-column-center;
      justify-content: space-around;
      &:nth-child(2) {
        margin-left: 3%;
        margin-right: 3%;
      }
      &:before, &:after {
        content: "";
        display: block;
        background-repeat: no-repeat;
        background-size: 100% 100%;
        background-position: center center;
        width: 70%;
        height: 60%;
        position: absolute;
        left: 50%;
        transform: translateX(-50%);
      }
      &:before {
        background-image: url('../../assets/newAssets/Frame2/picture-arrow-up.png');
        top: -57%;
      }
      &:after {
        background-image: url('../../assets/newAssets/Frame2/picture-arrow-down.png');
        top: 97%;
      }
      .option-block-title {
        font-family: 'goudy_old_style_small_caps_Rg';
        font-size: .8em;
        line-height: 1;
        font-weight: 600;
      }
      .option-block-subtitle {
        font-family: 'goudy_old_stylebold_italic';
        font-size: 0.5em;
        line-height: 1;
        margin-bottom: 10px;
      }
    }
  }
}
.symbols-section {
  @include full-size-img-with-border('../../assets/newAssets/Frame4/Frame-4.png');
  .symbol-img {
    width: auto;
    height: 40px;
  }
}

.colours-section {
  @include full-size-img-with-border('../../assets/newAssets/Frame5/Frame-5.png');
  .color-block-wrapper {
    width: calc(100%/4);
    height: 80px;
    margin: 0 15px;
    display: flex;
  }
  .colour-block {
    width: calc(100% / 3);
    height: 100%;
    border: 2px solid black;
    &:nth-child(2) {
      margin: 0 10px;
    }
  }
  .colour1 {
    background-color: #f42448;
  }
  .colour2 {
    background-color: #f42424;
  }
  .colour3 {
    background-color: #f1f424;
  }
  .colour4 {
    background-color: #5f6742;
  }
  .colour5 {
    background-color: #436843;
  }
  .colour6 {
    background-color: #426751;
  }
  .colour7 {
    background-color: #9df2f4;
  }
  .colour8 {
    background-color: #9ccff3;
  }
  .colour9 {
    background-color: #9dadf3;
  }
  .colour10 {
    background-color: #3b1e66;
  }
  .colour11 {
    background-color: #661e57;
  }
  .colour12 {
    background-color: #661e31;
  }
}
.artistic-section {
  @include full-size-img-with-border('../../assets/newAssets/Frame6/Frame-6.png');
  .central-row {
    width: 80%;
    margin: 0 auto;
    .artistic-symbols {
      height: 80px;
      width: auto;
    }
  }
}
.combine-section {
  @include full-size-img-with-border('../../assets/newAssets/Frame7/Frame-7.gif');
  .curly-border {
    padding-top: 60px;
    .blocks-wrapper {
      position: absolute;
      top: 55%;
      left: 50%;
      transform: translate(-50%, -50%);
      display: flex;
      justify-content: center;
      width: 100%;
      .artistic-block {
        padding: 10px;
        width: 20%;
        height: 300px;
        background-color: white;
        position: relative;
        border: 2px solid black;
        font-size: 10px;
        @include flex-column-center;
        justify-content: space-around;
        &:before, &:after {
          content: "";
          display: block;
          background-repeat: no-repeat;
          background-size: 100% 100%;
          background-position: center center;
          width: 70%;
          height: 20%;
          position: absolute;
          left: 50%;
          transform: translateX(-50%);
        }
        &:before {
          background-image: url('../../assets/newAssets/Frame2/picture-arrow-up.png');
          top: -18%;
        }
        &:after {
          background-image: url('../../assets/newAssets/Frame2/picture-arrow-down.png');
          top: 98%;
        }
        &:nth-child(2) {
          margin: 0 30px;
        }
        .artistic-block-title {
          position: relative;
          font-family: 'goudy_old_style_small_caps_Rg';
          font-weight: 600;
          font-size: 2.6em;
          &:after {
            content: "";
            height: 2px;
            width: 90%;
            margin: 0 auto;
            top: 100%;
            display: block;
            background-color: black;
          }
        }
        .artistic-block-subtitle {
          font-family: 'goudy_old_stylebold';
          font-size: 2.4em;
        }
        .artistic-block-description {
          font-family: 'goudy_old_stylebold_italic';
          font-size: 2.4em;
        }
      }
    }
  }
}

.last-section {
  @include full-size-img-with-border('../../assets/newAssets/Frame8/Frame-8.png');
}


//Media rules

@media screen and (min-width:992px){
  .my-col {
    height: 700px;
  }
  .curly-border {
    padding: 130px 0 90px;
  }
  .text-heading-logo {
    width: 440px;
    height: 70px;
  }
  .begin-section {
    .begin-section-border.curly-border {
      padding-top: 100px;
    }
  }
  .heading-section {
    .heading-section-border {
      padding-top: 60px;
     .text-heading {
        font-size: 42px;
     }
    }
  }
  .combine-section {
    .curly-border {
      padding-top: 100px;
    }
  }
}

@media screen and (max-width:991px){
  .my-col {
    height: 500px;
  }
  .curly-border {
    padding: 65px 0 15px;
  }
  .section-title {
    font-size: 27px;
    max-width: 70%;
  }
  .section-text {
    font-size: 25px;
  }
  .text-heading-logo {
    width: 300px;
    height: 40px;
  }
  .begin-section {
    .begin-section-border.curly-border {
      padding-top: 35px;
    }
  }
  .options-section {
    .options-row {
      .option-block {
        width: 30%;
      }
    }
  }
  .colours-section {
    .color-block-wrapper {
      margin: 0 10px;
    }
  }
  .symbols-section {
    .symbol-img {
      height: 35px;
    }
  }
  .combine-section {
    .curly-border {
      .blocks-wrapper {
        .artistic-block {
          width: 25%;
          font-size: 8px;
          height: 230px;
        }
      }
    }
  }
}
@media screen and (max-width:768px){
  .my-col {
    height: 400px;
  }
  .curly-border {
    padding: 50px 0 20px;
  }
  .section-title {
    font-size: 24px
  }
  .section-text {
    font-size: 20px;
  }
  .central-row-wrapper {
    height: 70px;
    .central-row {
      padding: 0 7px;
      &:before, &:after {
        width: 120px;
        height: 40px;
      }
      &:before {
        top: -37px;
      }
      &:after {
        top: 63px;
      }
    }
    .central-block {
      width: 250px;
    }
  }
  .heading-section {
    .text-heading {
      margin-bottom: 10px;
    }
    .heading-section-border {
      padding-top: 20px;
    }
  }
  .begin-section {
    .begin-section-border {
      padding: 20px 0 5px;
      .central-row-wrapper {
        height: 70px;
        .central-row {
          &:before, &:after {
            width: 110px;
            height: 30px;
          }
          &:before {
            top: -27px;
          }
          &:after {
            top: 63px;
          }
        }
        .central-block {
          width: 250px;
        }
      }
    }
  }
  .options-section {
    .options-row {
      .option-block {
        font-size: 30px;
        width: 30%;
        height: 70px;
      }
    }
  }
  .symbols-section {
    .symbol-img {
      height: 30px;
    }
  }
  .colours-section {
    .color-block-wrapper {
      height: 60px;
      margin: 0 5px;
    }
    .colour-block {
      &:nth-child(2) {
        margin: 0 5px;
      }
    }
  }
  .artistic-section {
    .central-row {
      .artistic-symbols {
        height: 60px;
      }
    }
  }
  .combine-section {
    .curly-border {
      padding-top: 30px;
      .blocks-wrapper {
        .artistic-block {
          font-size: 6px;
          &:before, &:after {
            content: none;
          }
        }
      }
    }
  }
}
@media screen and (max-width: 576px) {
  .my-col {
    height: 350px;
  }
  .row {
    margin-top: 40px;
  }
  .curly-border {
    padding: 40px 0 10px;
  }
  .section-title {
    font-size: 20px
  }
  .section-text {
    font-size: 18px;
  }
   .begin-section {
    .begin-section-border {
      padding: 20px 0 5px;
      .central-row-wrapper {
        height: 50px;
        .central-row {
          &:before, &:after {
            width: 80px;
            height: 20px;
          }
          &:before {
            top: -17px;
          }
          &:after {
            top: 43px;
          }
        }
        .central-block {
          width: 150px;
        }
      }
    }
  }
  .symbols-section {
    .symbol-img {
      width: calc(100%/13);
      height: auto;
    }
  }
  .combine-section {
    .curly-border {
      .blocks-wrapper {
        .artistic-block {
          height: 200px;
          img {
            width: 60px;
            height: auto;
          }
        }
      }
    }
  }
  .last-section {
    .curly-border {
      padding-top: 55px;
      .central-row-wrapper {
        height: 70px;
        .central-row {
          &:before, &:after {
            width: 80px;
            height: 20px;
          }
          &:before {
            top: -17px;
          }
          &:after {
            top: 63px;
          }
        }
        .central-block {
          width: 150px;
        }
      }
    }
  }
}
@media screen and (max-width: 450px) {
  .row {
    margin-top: 25px;
  }
  .section-text {
    font-size: 16px;
  }
  .text-heading-logo {
    width: 240px;
    height: 40px;
  }
  .begin-section {
    .begin-section-border {
      .central-row-wrapper {
        height: 50px;
        .central-row {
          &:before, &:after {
            content: none;
          }
        }
      }
    }
  }
  .artistic-section {
    .central-row {
      .artistic-symbols {
        height: 40px;
      }
    }
  }
  .options-section {
    .options-row {
      flex-direction: column;
      justify-content: center;
      align-items: center;
      .option-block {
        width: 50%;
        height: 50px;
        &:before, &:after {
          content: none;
        }
        &:nth-child(2) {
          margin: 10px 0;
        }
        .option-block-subtitle {
          margin-bottom: 0;
        }
      }
    }
  }
  .combine-section {
    .curly-border {
      .blocks-wrapper {
        .artistic-block {
          width: 30%;
          height: 200px;
          &:nth-child(2) {
            margin: 0 10px;
          }
        }
      }
    }
  }
}
