.cart-container {
  padding: 60px 0 30px;
  width: 70%;
  margin: 0 auto;
  .no-cart-box {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    font-family: 'goudy_old_stylebold';
    .cart-icon {
      width: 100px;
      height: 100px;
      margin-top: 30px;
    }
    .title {
      font-size: 28px;
      font-weight: 600;
      margin: 20px 0;
    }
    .text {
      font-size: 20px;
      a {
        color: #e23f50;
        text-decoration: none;
      }
    }
  }
  .cart-header {
    display: flex;
    border-bottom: 3px solid black;
    padding-bottom: 5px;
    margin-bottom: 15px;
    .amount {
      width: 50%;
      text-align: left;
    }
    .qty {
      width: 25%;
      text-align: center;
      margin-left: 100px;
    }
    .price {
      width: 25%;
      text-align: right;
    }
  }
  .total-wrapper {
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    background: #F4F0ED;
    margin-bottom: 15px;
    border-radius: 10px;
    padding: 10px 15px;
    h5 {
      font-family: 'goudy_old_stylebold';
      font-size: 22px;
      line-height: 22px;
    }
    strong {
      margin-left: auto;
    }
  }
  .button-wrapper {
    width: 100%;
    text-align: center;
  }
}
.loading-animation {
  position: absolute;
  top: 70px;
  left: 50%;
}

