<form #productForm="ngForm" class="form">
  <div class="form-group">
    <label for="phone">
      <strong>Phone</strong>
    </label>
    <input type="number" class="form-control" name="phone" id="phone" [(ngModel)]="phone">
  </div>
  <div class="form-group">
    <label for="city">
      <strong>City</strong>
    </label>
    <input type="text" class="form-control" name="city" id="city" [(ngModel)]="city">
  </div>
  <div class="form-group">
    <label for="name">
      <strong>Name</strong>
    </label>
    <input type="text" class="form-control" name="name" id="name" [(ngModel)]="name">
  </div>
  <div class="form-group">
    <label for="email">
      <strong>Email</strong>
    </label>
    <input type="text" class="form-control" name="email" id="email" [(ngModel)]="email">
  </div>
  <div class="form-group">
    <strong class="text">Comment</strong>
    <textarea class="form-control" name="comment" [(ngModel)]="comment"></textarea>
  </div>

  <!--<button type="submit" class="my-button" (click)="onCreateProduct()" [disabled]="isFormInvalid()">-->
    <!--<app-spinner *ngIf="loading"></app-spinner>-->
    <!--<span *ngIf="!loading">Save product</span>-->
  <!--</button>-->
</form>

