@import '../../../variables.scss';

.form {
  margin-top: 15px;
  background-color: $light_red_color;
  padding: 15px;
  border-radius: 10px;
  .button-wrapper {
    width: 100%;
    text-align: center;
  }
}
