<form #productForm="ngForm" *ngIf="categories && categories.length">
  <div class="form-group">
    <label for="title">
      <strong>Brand</strong>
    </label>
    <input
      type="text"
      class="form-control"
      name="title"
      id="title"
      [(ngModel)]="brand">
  </div>
  <div class="form-group">
    <label for="price">
      <strong>Price</strong>
    </label>
    <input
      type="number"
      class="form-control"
      name="title"
      id="price"
      [(ngModel)]="price">
  </div>
  <div class="form-group">
    <label for="discount">
      <strong>Discount</strong>
    </label>
    <input
      type="number"
      class="form-control"
      name="title"
      id="discount"
      [(ngModel)]="discount">
  </div>
  <div class="form-group">
    <label for="material">
      <strong>Material</strong>
    </label>
    <input
      type="text"
      class="form-control"
      name="title"
      id="material"
      [(ngModel)]="material">
  </div>
  <div class="form-group">
    <strong class="text">Description</strong>
    <textarea class="form-control" name="editor" [(ngModel)]="description"></textarea>
  </div>
  <div class="form-group">
    <strong>Category</strong>
    <ng-select *ngIf="categories" [items]="categories"
               bindLabel="category"
               bindValue="id"
               [(ngModel)]="selectedCategory" name="category" placeholder="Choose category">
    </ng-select>
  </div>
  <div class="form-group">
    <label id="file-drag-drop">
      <div class="fileform"
         (drop)="onUpload($event)"
         (dragover)="allowDrop($event)"
         (dragleave)="fade()"
          [ngClass]="{highlight: isHighlight}">
          <span>Click or drop your files here</span>
          <img src="/assets/cloud-download-interface-symbol.svg" alt="" class="icon-cloud-download">
          <span class="warning" *ngIf="warning">Download images with extension jpeg, jpg or png</span>
      </div>
      <input name="file" type="file" class="inputfile" multiple="multiple" (change)="onUpload($event)">
    </label>
    <div class="wrapper-file-list" *ngIf="files.length">
      <div *ngFor="let file of files; let key = index" class="file-list" (click)="makeMainImg(key)">
        <img *ngIf="imageUrls.length" [src]="imageUrls[file.id]" [ngClass]="{'highlight-main-img': key == selectedImgKey}"/>
        <div class="remove-container">
          <a class="remove" (click)="removeFile(key, $event)" href="#">
            <img src="/assets/icon-close.png" alt="" class="icon-close">
          </a>
        </div>
      </div>
    </div>
  </div>

  <button type="submit" class="my-button button-update" (click)="onCreateProduct()" [disabled]="isFormInvalid()">
    <div class="spinner" *ngIf="loading">
      <div class="bounce1"></div>
      <div class="bounce2"></div>
      <div class="bounce3"></div>
    </div>
    <span *ngIf="!loading">Save product</span>
  </button>
</form>

