@import '../../../../variables.scss';

form {
  max-width: 800px;
  margin: 50px auto 0;
  width: 60%;
  .form-control:focus {
    box-shadow: 0 0 0 1px rgba(0,123,255,.25);
  }
  .text {
    margin-bottom: 7px;
    display: inline-block;
  }
  .counter-validation {
    color: $grey_color;
    font-family: 'goudy_old_stylebold';
    font-size: 16px;
    line-height: 16px;
    margin-top: 3px;
    margin-left: 3px;
  }
  #file-drag-drop {
    cursor: pointer;
    position: relative;
    width: 100%;
    .fileform {
      display: flex;
      flex-wrap: wrap;
      justify-content: center;
      align-items: center;
      height: 70px;
      padding: 0 30px;
      background: #f4f4f4;
      border-radius: 4px;
      border: 2px dashed #ccc;
      span {
        font-family: 'goudy_old_stylebold';
        font-size: 18px;
      }
      .icon-cloud-download {
        width: 40px;
        height: 40px;
        margin-left: 10px;
      }
      .warning {
        width:100%;
        color: red;
        line-height: 14px;
        font-size: 14px;
        text-align: center;
        margin-bottom: 7px;
      }
    }
    .inputfile {
      width: 0.1px;
      height: 0.1px;
      opacity: 0;
      overflow: hidden;
      position: absolute;
      z-index: -1;
      top: 100%;
      left: 0;
    }
    .highlight {
      border: 2px dashed #7957d5;
      background-color: #fff;
    }
  }
  .img-valid {
    font-family: 'goudy_old_stylebold';
    font-size: 16px;
    line-height: 16px;
    color: $grey_color;
    margin-bottom: 10px;
    margin-left: 3px;
  }
  .wrapper-file-list {
    display: flex;
    justify-content: flex-start;
    flex-wrap: wrap;
    .file-list {
      width: 100px;
      margin: 5px;
      border-bottom: 1px solid #ddd;
      position: relative;
      & img {
        height: 100px;
        width: 100px;
        cursor: pointer;
        object-fit: cover;
      }
      .highlight-main-img {
        outline: 2px solid rgba(121,87,213,1);
        outline-offset: 2px;
      }
      .remove-container {
        position: absolute;
        top: 0;
        right: 0;
        z-index: 100;
        width: 16px;
        height: 16px;
        .icon-close {
          width: 16px;
          height: 16px;
          position: absolute;
          top: 3px;
          right: 3px;
        }
      }
    }
  }
}

/deep/ .confirm-body {
  .cta {
    display: inline-block;
    margin: 0 7px;
  }
}
/deep/ .ql-toolbar, /deep/ .ql-container {
  width: 100%;
  margin: 0 auto;
}
/deep/ .ql-container {
  min-height: 50px;
  font-size: 18px;
}
.validate-error {
  color: red;
  font-size: 12px;
  margin-top: 10px;
  margin-bottom: 10px;
}


@media screen and (max-width:991px){
  form {
    width: 80%;
  }
}

@media screen and (max-width:768px){
  form {
    padding-top: 50px;
    padding-bottom: 50px;
    width: 77%;
  }
}
