<nav class="navbar navbar-expand-lg navbar-light">
  <a class="nav-link" href="#">
  	<div class="logo-icon"></div>
  </a>
  <button class="navbar-toggler"
          type="button"
          data-toggle="collapse"
          data-target="#navbarSupportedContent"
          aria-controls="navbarSupportedContent"
          [attr.aria-expanded]="!isCollapsed"
          aria-label="Toggle navigation"
          (click)="isCollapsed = !isCollapsed">
    <span class="navbar-toggler-icon"></span>
  </button>

  <div class="collapse navbar-collapse" [collapse]="isCollapsed" id="navbarSupportedContent">
    <ul class="navbar-nav mr-auto">
      <li class="nav-item">
        <a class="nav-link" routerLink="/blog" routerLinkActive="active">BLOG</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" routerLink="/users" *ngIf="isAuthorized() && currentRole() !== 'user'" routerLinkActive="active">USERS</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" routerLink="/shop/products" routerLinkActive="active">SHOP</a>
      </li>
    </ul>
     <ul class="navbar-nav">
      <li class="nav-item" *ngIf="isAuthorized()">
        <a class="nav-link nav-link-profile"  routerLink="/profile">
          <img [src]="imageUrl" class="user-avatar" alt="avatar">
          <span class="username">{{ username }}</span>
        </a>
      </li>
      <li class="nav-item" *ngIf="isAuthorized()" #wishlistElement>
        <a class="nav-link count-wrapper" routerLink="/shop/wishlist">
        	<div class="nav-icon-heart nav-icon"></div>
          <span class="tooltiptext">Wishlist</span>
          <div class="wishlist-count count" *ngIf="totalNumOfProductsInWishlist">
            <span>{{totalNumOfProductsInWishlist}}</span>
          </div>
        </a>
      </li>
       <li class="nav-item" *ngIf="isAuthorized()" #cartElement>
        <a class="nav-link count-wrapper" routerLink="/shop/cart">
        	<div class="nav-icon-cart nav-icon"></div>
          <span class="tooltiptext">Cart</span>
          <div class="cart-count count" *ngIf="totalNumberOfProducts">
            <span>{{totalNumberOfProducts}}</span>
          </div>
        </a>
      </li>
       <li class="nav-item" *ngIf="isAuthorized()">
         <a class="nav-link count-wrapper" routerLink="/shop/orders">
           <div class="nav-icon-orders nav-icon"></div>
           <span class="tooltiptext">Orders</span>
         </a>
       </li>
      <li class="nav-item" *ngIf="!isAuthorized()">
        <a class="nav-link" (click)="openModalRegister()">REGISTER</a>
      </li>
       <li class="nav-item" *ngIf="!isAuthorized()">
        <a class="nav-link" (click)="openModalLogin()">LOGIN</a>
      </li>
       <li class="nav-item" *ngIf="isAuthorized()">
        <a class="nav-link" (click)="onLogout()">LOGOUT</a>
      </li>
    </ul>
  </div>
</nav>
