td {
  cursor: pointer;
  padding: 5px;
  font-size: 14px;
  .image {
    width: 40px;
    height: 40px;
    object-fit: cover;
  }
}
.tooltiptext {
  visibility: hidden;
  background-color: black;
  color: #fff;
  left: -5px;
  top: 100%;
  text-align: center;
  border-radius: 6px;
  padding: 3px 5px;
  position: absolute;
  z-index: 1;
}
.qnt-wrapper{
  display: flex;
  align-items: center;
  justify-content: flex-end;
  div {
    text-align: center;
    flex: 1;
  }
  .btn-edit {
    display: inline-block;
    cursor: pointer;
    background-color: #eee;
    border: 1px solid grey;
    border-radius: 5px;
    margin-left: 5px;
    padding: 1px 6px;
    position: relative;
    &:hover .tooltiptext {
      visibility: visible;
    }
    img {
      width: 15px;
      height: 15px;
    }
  }
}
