<form (ngSubmit)="onCreateUser(appForm)" #appForm="ngForm">
  <div class="modal-header">
    <h5 class="modal-title">Create User</h5>
    <button type="button" class="close" data-dismiss="modal" aria-label="Close" (click)="modalRef.hide()">
      <span aria-hidden="true">&times;</span>
    </button>
  </div>
  <div class="modal-body">
    <div class="form-group">
      <label for="email">Email address</label>
      <input
        type="email"
        class="form-control"
        name="email"
        id="email"
        aria-describedby="emailHelp"
        placeholder="Enter email"
        autocomplete="email"
        ngModel
        required
        email
        #email="ngModel"
        [ngClass]="{'input-error': !email.valid && email.touched || error.non_field_error}">
    </div>
    <div *ngIf="!email.valid && email.touched" class="validate-error">Please enter a valid value</div>
    <div class="form-group">
      <label for="password">Password</label>
      <input
        type="password"
        class="form-control"
        id="password"
        name="password"
        placeholder="Password"
        autocomplete="new-password"
        ngModel
        required
        #password="ngModel"
        [ngClass]="{'input-error': error.non_field_error}">
    </div>
    <div *ngIf="error && error.non_field_error" class="validate-error">{{error.non_field_error}}</div>
    <div class="form-group">
      <label for="password">Role</label>
      <select [(ngModel)]="selectedRole" name="selectedRole">
        <option *ngFor="let role of roles">{{ role.role }}</option>
      </select>
    </div>
    <button type="submit" [disabled]="!email.valid || !password.value" class="btn btn-primary">Create</button>
  </div>
</form>
