form {
  padding: 15px;
  .form-control:focus {
    box-shadow: 0 0 0 1px rgba(0,123,255,.25);
  }
  .validate-error {
    color: red;
    font-size: 12px;
    margin-top: -10px;
    margin-bottom: 10px;
  }
  .input-error {
    border: 1px solid red;
    &:focus {
      box-shadow: 0 0 0 1px red;
    }
  }
  select {
    cursor: pointer;
    max-width: 150px;
    width: 100%;
    min-width: 70px;
    padding: 5px 20px 5px 5px;
    font-size: 16px;
    line-height:1;
    border: 1px solid #ccc;
    height: 30px;
    border-radius: 5px;
    appearance: none;
    margin-left: 15px;
    background: url('../../../assets/arrow.png') 96% / 10px no-repeat #eee;
    &:focus {
      outline: none;
      border: 1px solid rgb(77, 144, 254);
      border-radius: 5px;
      box-shadow: 0 0 0 1px rgb(77, 144, 254);
    }
  }
  button[disabled] {
    cursor: not-allowed;
  }
}