<td>
  <img [src]="imagePath" class="avatar">
</td>
<td (click)="onSelectUser()">{{user.email}}</td>
<td>
  <input type="password" [(ngModel)]="newPassword">
</td>
<td>
  <select [(ngModel)]="selectedRole">
    <option *ngFor="let role of roles"
          [ngValue]="role.role">
          {{ role.role }}
    </option>
  </select>
</td>
<td>
  <button class="action" (click)="onSaveChanges()">Save changes</button>
</td>
<td>
  <button class="action" (click)="onDeleteUser()">Delete user</button>
</td>
