<td>
  <input type="file"
           name="file"
           class="inputfile"
           #inputFile
           (change)="onFileChanged($event)">
  <label (click)="openFileBrowser($event)">
    <img [src]="user.image" class="avatar">
  </label>
</td>
<td>{{user.email}}</td>
<td>
  <input type="password" [(ngModel)]="newPassword">
  <div *ngIf="error && error.password" class="error">{{ error.password }}</div>
</td>
<td>
  <select [(ngModel)]="selectedRole">
    <option *ngFor="let role of roles"
          [ngValue]="role.role">
          {{ role.role }}
    </option>
  </select>
</td>
<td>
  <button class="action" (click)="onSaveChanges()" [disabled]="isCurrentUser()">Save changes</button>
</td>
<td>
  <button class="action" (click)="onDeleteUser()" [disabled]="isCurrentUser()">Delete user</button>
</td>
