<header class="form-header" id="formContainer">
  <div class="info">Enter your customer information</div>
</header>
<form #productForm class="form" id="form">
  <div class="form-group">
    <label for="phone">
      <strong>Phone</strong>
    </label>
    <input type="text" class="form-control" name="phone" id="phone" [(ngModel)]="orderForm.phone">
  </div>
  <div class="form-group">
    <label for="post_code">
      <strong>Postal code</strong>
    </label>
    <input type="number" class="form-control" name="post_code" id="post_code" [(ngModel)]="orderForm.post_code">
  </div>
  <div class="form-group">
    <label for="country">
      <strong>Country</strong>
    </label>
    <input type="text" class="form-control" name="country" id="country" [(ngModel)]="orderForm.country">
  </div>
  <div class="form-group">
    <label for="city">
      <strong>City</strong>
    </label>
    <input type="text" class="form-control" name="city" id="city" [(ngModel)]="orderForm.city">
  </div>
  <div class="form-group">
    <label for="first_name">
      <strong>First name</strong>
    </label>
    <input type="text" class="form-control" name="first_name" id="first_name" [(ngModel)]="orderForm.first_name">
  </div>
  <div class="form-group">
    <label for="surname">
      <strong>Surname</strong>
    </label>
    <input type="text" class="form-control" name="surname" id="surname" [(ngModel)]="orderForm.surname">
  </div>
  <div class="form-group">
    <label for="email">
      <strong>Email</strong>
    </label>
    <input type="text" class="form-control" name="email" id="email" [(ngModel)]="orderForm.email">
  </div>
  <div class="form-group">
    <label>
      <strong class="text">Comment</strong>
    </label>
    <textarea class="form-control" name="comment" [(ngModel)]="orderForm.comment"></textarea>
  </div>
  <div class="button-wrapper">
    <button class="my-button" (click)="saveOrder()"><span>Checkout</span></button>
  </div>
</form>

