.back-block {
  position: absolute;
  left: 50%;
  top: 20px;
  transform: translateX(-50%);
  display: flex;
  align-items: center;
  font-size: 20px;
  font-family: 'goudy_old_stylebold';
  cursor: pointer;
  .back-icon {
    width: 30px;
    height: 20px;
  }
}
.container {
  display: flex;
  width: 100%;
  margin-top: 80px;
  margin-bottom: 80px;
  font-size: 16px;
  .title {
    font-weight: 600;
  }
  .image-wrapper {
    width: 40%;
  }
  .content-wrapper {
    width: 35%;
    margin: 0 2%;
     div {
      margin-bottom: 10px;
    }
    .brand {
     font-size: 22px;
     font-weight: bold;
    }
    .size {
      margin-bottom: 5px;
    }
    .ng-select.custom {
      width: 150px;
      border: 2px solid rgba(0, 0, 0, .7);
      border-radius: 4px;
    }
    .ng-select.custom .ng-select-container  {
      width: 150px;
    }
    /deep/ .ng-select .ng-select-container {
      border: none;
    }
    /deep/ .ng-select .ng-select-container .ng-value-container .ng-placeholder {
      color: rgba(0, 0, 0, .7);
    }
  }
  .sidebar-wrapper {
    width: 25%;
    & > div {
      margin-bottom: 10px;
    }
    .discount {
      font-size: 18px;
    }
    .cta {
      display: flex;
      margin-top: 20px;
      position: relative;
      .icon {
        width: 30px;
        height: 20px;
        margin-left: 7px;
        animation: zoom 1s linear infinite;
        z-index: 3;
      }
      .loading-process {
        background: rgba(0,0,0,.5);
        width:100%;
        height:100%;
        position:absolute;
        top:0;
        left:0;
        z-index:999;
        display: flex;
        justify-content: center;
        align-items: center;
        .spinner {
          div {
            background-color: white;
          }
        }
      }
    }
    .cart {
      width: 170px;
      height: 38px;
    }
  }
}


@media screen and (max-width:991px){
  .container {
    flex-direction: column;
    .image-wrapper, .content-wrapper, .sidebar-wrapper {
      width: 100%;
    }
    .content-wrapper {
      margin: 15px 0;
    }
  }

}

