<ngx-treeview
  [items]="nodes"
  [config]="config"
  (selectedChange)="onSelectedChange($event)">
</ngx-treeview>
<div class="button-container">
  <app-button [text]="'Delete selected'" (onClick)="onDelete()" [disabled]="!selectedSubcategories.length"></app-button>
  <div class="button-wrapper">
    <app-button [text]="'Create new category'"></app-button>
  </div>
</div>
<div class="category-form">
  <form class="form" id="form">
    <div class="form-group">
      <label for="category">
        <strong>Category:</strong>
      </label>
      <input type="text" class="form-control" name="category" id="category" [(ngModel)]="category">
    </div>
  </form>
  <app-button [text]="'Save category'" (onClick)="onSaveCategory()" [disabled]="!category"></app-button>
</div>




