@import '../../../../variables.scss';

.filters {
  width: 200px;
  font-family: 'goudy_old_stylebold_italic';
  margin-right: 50px;
  margin-bottom: 70px;
  .filter-title {
    border-bottom: 2px solid black;
  }
  .filter-options li {
    cursor: pointer;
    padding: 3px 0;
    a {
      text-decoration: none;
      color: black;
      text-transform: capitalize;
      &.active {
        color: $red_color;
      }
    }
  }
  .container-search {
    height: 30px;
    display: flex;
    position: relative;
    width: 100%;
    border-radius: 5px;
    margin-bottom: 30px;
    margin-top: 10px;
    &:focus-within {
      box-shadow: 0 0 5px rgba(0,0,0, .5);
    }
    .search-input {
      width: 100%;
      height: 100%;
      border: 2px solid black;
      font-size: 16px;
      padding-left: 10px;
      border-radius: 5px;
    }
    .search-icon {
      cursor: pointer;
      position: absolute;
      right: 10px;
      top: 50%;
      transform: translateY(-50%);
      width: 17px;
      height: 20px;
    }
  }
}
