<div class="filters" *ngIf="categories && categories.length">
  <div class="container-search">
    <img src="/assets/search.svg" alt="" class="search-icon" (click)="searchProduct()">
    <input class="search-input" placeholder="Search..." type="text" [(ngModel)]="searchValue"/>
  </div>
  <h5 class="filter-title">SHOP BY</h5>
  <ul class="filter-options">
    <li *ngFor="let category of categories">
      <a [routerLink]="['/shop/products']" [queryParams]="{category: category.id}">{{category.name}}</a>
    </li>
  </ul>
</div>
