/deep/ .masonry-container {
  text-align: center;
}
/deep/ .masonry-item {
  width: 320px;
  cursor: pointer;
  z-index: 1;
  margin: 5px;
}

@media screen and (min-width:990px) and (max-width:1200px){
  /deep/ .masonry-container {
    margin-left: 75px;
  }
}

@media screen and (max-width:991px){
  /deep/ .masonry-container {
    margin-left: 0;
  }
  /deep/ .masonry-item {
    width: 280px;
  }
}
@media screen and (max-width:767px){
  /deep/ .masonry-item {
    width: 220px;
  }
}
@media screen and (max-width: 576px) {
  /deep/ .masonry-container {
    margin-left: 60px;
  }
  /deep/ .masonry-item {
    width: 330px;
  }
}
@media screen and (max-width: 450px) {
  /deep/ .masonry-container {
    margin-left: 10px;
  }
  /deep/ .masonry-item {
    width: 260px;
  }
}
@media screen and (max-width: 320px){
  /deep/ .masonry-item {
    width: 210px;
  }
}

