.table-wrapper {
  margin-top: 70px;
  width: 100%;
  min-height: 150px;
  background-color: white;
  margin-bottom: 25px;
  .navbar-user{
    border: 2px solid black;
    border-bottom: 1px solid black;
    padding: 0 20px;
    display: flex;
    justify-content: flex-end;
    align-items: center;
    height: 55px;
    background-color: gray;
    .my-role {
      margin-right: 15px;
      color: white;
    }
    .my-avatar {
      width: 35px;
      height: 35px;
      overflow: hidden;
      border-radius: 50%;
      object-fit: cover;
      margin: 0 15px;
    }
    button {
      border: 2px solid black;
      background: white;
      color: black;
      border-radius: 5px;
      height: 40px;
      cursor: pointer;
      font-size: 18px;
      line-height: 40px;
      padding: 0 10px;
      transition: all .3s ease;
      &:hover {
        border: 2px solid white;
        background: rgb(77, 144, 254);
        color: white;
      }
    }
  }
  table {
    text-align: center;
    display: table;
    overflow-x: auto;
    width: 100%;
    tr {
      height: 50px;
      &:nth-child(1) {
        height: 40px;
        font-weight: 700;
      }
      th, td{
        border: 1px solid black;
      }
      .td-error {
        border: 1px solid black;
        height: 250px;
        font-size: 22px;
        font-weight: 500;
        color: red;
      }
    }
  }
}
@media screen and (max-width:767px){
  .table-wrapper {
    table {
      display: block;
    }
  }
}

@media screen and (max-width: 576px) {
  .table-wrapper {
    margin-top: 40px;
  }
}


