.row {
  margin-top: 70px;
  .my-col {
    .table-wrapper {
      width: 100%;
      min-height: 400px;
      background-color: white;
      border: 2px solid black;
      .navbar-user{
        border-bottom: 1px solid black;
        padding: 0 20px;
        display: flex;
        justify-content: flex-end;
        align-items: center;
        height: 50px;
        background-color: grey;
        button {
          border: 2px solid black;
          background: white;
          color: black;
          border-radius: 5px;
          padding: 5px 15px;
          cursor: pointer;
        }
      }
      table {
        text-align: center;
        tr {
          height: 50px;
          th, td {
            border: 1px solid black;
          }
        }
      }
    }
  }
}

