<div class="table-wrapper">
  <nav class="navbar-user">
    <button *ngIf="currentUserRole == 'admin'" (click)="onCreateUser()">+CREATE</button>
    <img [src]="currentUserAvatarUrl" alt="" class="my-avatar">
    <span class="my-role">{{ currentUserRole }}</span>
  </nav>
  <table style="width:100%">
    <tr>
      <th>Photo</th>
      <th>User</th>
      <th>New Password</th>
      <th>User Role</th>
      <th>Save changes</th>
      <th>Delete user</th>
    </tr>
    <tr *ngIf="errorMsg">
      <td colspan="6" class="td-error">{{ errorMsg }}</td>
    </tr>
    <ng-container *ngIf="users && !errorMsg">
      <tr app-user *ngFor="let user of users" [user]="user" [roles]="roles"  (deletedUser)="onClearUsers($event)"></tr>
    </ng-container>
  </table>
</div>

