@import '../../../../variables';

.products-box {
  min-height: 500px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  width: calc(100% - 10px);
  position: relative;
  .btn-add {
    width: 56px;
    height: 56px;
    padding: 0;
    position: fixed;
    right: 30px;
    bottom: 30px;
    cursor: pointer;
    display: inline-block;
    text-align: center;
    vertical-align: middle;
    line-height: 56px;
    overflow: hidden;
    z-index: 10;
    box-shadow: 0 2px 2px 0 rgba(0,0,0,0.14), 0 3px 1px -2px rgba(0,0,0,0.12), 0 1px 5px 0 rgba(0,0,0,0.2);
    background-color: $red_color;
    border-radius: 50%;
    i {
      position: absolute;
      top: 50%;
      left: 50%;
      transform: translate(-50%, -50%);
      color: white;
    }
  }
}

table {
  text-align: center;
  display: table;
  overflow-x: auto;
  width: 100%;
  margin-bottom: auto;
  tr {
    height: 50px;
    border-bottom: 1px solid #ccc;
    width: 100%;
    th {
      font-size: 14px;
    }
    .image {
     width: 10%;
    }
    .brand {
      width: 15%;
    }
    .category {
      width: 25%;
    }
    .subcategory {
      width: 20%;
    }
    .price {
      width: 10%;
    }
    .discount {
      width: 10%;
    }
    .quantity {
      width: 10%;
    }
  }
}
/deep/ .ngx-pagination .current, /deep/ .ngx-pagination .current:focus {
  background: $red_color !important;
}
/deep/ .ngx-pagination li a, /deep/ .ngx-pagination li a:focus, /deep/ .ngx-pagination li a:active {
  outline: none !important;
}

/deep/ .form-check-label {
  padding: 3px;
}

/deep/ .form-inline .form-check-input {
  width: 15px;
  height: 15px;
  margin-left:3px;
}
