<app-navbar></app-navbar>
<div class="profile-wrapper">
  <div class="photo">
    <img [src]="url" class="avatar">
    <input type="file"
           name="file"
           id="file"
           class="inputfile"
           (change)="onFileChanged($event)">
    <label for="file">Choose a file</label>
    <div *ngIf=" error && error.image" class="error">{{ error.image }}</div>
  </div>
  <div class="info">
    <div class="username"><strong>Username:</strong> {{ username }}</div>
     <label>
      <span class="password">New Password: </span>
      <input type="password" [(ngModel)]="newPassword">
      <div class="error" *ngIf=" error && error.password">{{ error.password }}</div>
    </label>
  </div>
  <div class="save-wrapper">
    <button class="btn btn-success" (click)="onSave()" [disabled]="!isChanged && !newPassword">Save changes</button>
  </div>
</div>

