<app-navbar></app-navbar>
<div class="profile-wrapper">
  <div class="image-wrapper">
    <img [src]="url" class="image">
    <input type="file"
           name="file"
           id="file"
           class="inputfile"
           fileUpload
           (imageURLUploaded)="imageUrlHandler($event)"
           (fileUploaded)="fileUploaded($event)">
    <label for="file">Choose a file</label>
    <div *ngIf="checkErrors('image')" class="error">{{ checkErrors('image') }}</div>
  </div>
  <div class="info">
    <div class="username"><strong>Username:</strong> {{ username }}</div>
     <label>
      <span class="password">New Password: </span>
      <input type="password"
             [(ngModel)]="newPassword"
             [ngClass]="{'input-error': checkErrors('password')}">
      <div class="error" *ngIf="checkErrors('password')">{{ checkErrors('password') }}</div>
    </label>
  </div>
  <div class="save-wrapper">
    <button class="my-button" (click)="onSave()" [disabled]="!isChanged && !newPassword">Save changes</button>
  </div>
</div>

