.posts-wrapper {
  width: 100%;
  background-color: white;
  header {
    height: 140px;
    background-color: #eee;
    margin-bottom: 30px;
    .heading {
      display: flex;
      justify-content: center;
      align-items: flex-end;
      padding-bottom: 20px;
      margin-top: 20px;
      margin-bottom: 0;
      height: 100px;
      font-weight: 600;
      letter-spacing: 1px;
      font-family: 'goudy_old_style_small_caps_Rg';
      .first-letter {
        font-family: 'xirwenaregular';
        font-size: 34px;
        line-height: 1;
      }
    }
    ul {
      list-style: none;
      display: flex;
      justify-content: center;
      align-items: center;
      background-color: white;
      padding-left: 0;
      margin-left: 0;
      li {
        cursor: pointer;
        margin: 0 25px;
        border: 1px solid transparent;     
        display: flex;
        align-items: center;
        justify-content: center;
        span {
          font-family: 'goudy_old_stylebold';
          font-size: 22px;
          line-height: 22px;
          padding-top: 2px;
        }
        &:focus {
          outline: none;
        }
        &.active-link {
          border: 1px solid black;
          position: relative;
          &:before, &:after {
            content: "";
            display: block;
            background-repeat: no-repeat;
            background-size: 100% 100%;
            background-position: center center;
            width: 60px;
            height: 20px;
            position: absolute;
            left: 50%;
            transform: translateX(-50%);
          }
          &:before {
            background-image: url('../../assets/newAssets/picture-arrow-up.png');
            top: -18px;
          }
          &:after {
            background-image: url('../../assets/newAssets/picture-arrow-down.png');
            top: 22px;
          }
        }
      }
    }
  }
  .blog-container {
    min-height: 800px;
    border-top: 15px solid black;
    border-bottom: 15px solid black;
    border-right: 2px solid black;
    border-left: 2px solid black;
    margin-bottom: 30px;
    position: relative;
    padding: 50px;
    .corner {
      position: absolute;
      width: 195px;
      height: 185px;
      background-size: contain;
      background-repeat: no-repeat;
      z-index: 10;
      pointer-events: none;
    }
    .bottom-left-corner {
      background-image: url('/assets/land-bor-b-l.png');
      bottom: -4px;
      left: 0;
    }
    .bottom-right-corner {
      background-image: url('/assets/land-bor-b-r.png');
      width: 188px;
      height: 183px;
      bottom: -1px;
      right: 0;
    }
    .top-left-corner {
      background-image: url('/assets/land-bor-t-l.png');
      top: 0;
      left: 0;
    }
    .top-right-corner {
      background-image: url('/assets/land-bor-t-r.png');
      top: 0;
      right: 0;
    }

  }

}


@media screen and (max-width:991px){
  .posts-wrapper {
    header {
      .heading {
        font-size: 20px;
        padding-bottom: 0;
        align-items: center;
        .first-letter {
          font-size: 30px;
        }
      }
    }
  }
}
@media screen and (max-width:768px){
  .posts-wrapper {
    header {
      height: 110px;
      .heading {
        font-size: 17px;
        align-items: center;
        height: 70px;
        .first-letter {
          font-size: 25px;
        }
      }
      ul {
        li {
          margin: 0 4%;
          span {
            font-size: 16px;
          }
        }
      }
    }
    .blog-container {
      padding: 20px;
    }
  }
}
@media screen and (max-width: 576px) {
  .posts-wrapper {
    header {
      text-align: center;
      .heading{
        display: block;
        padding-top: 20px;
        margin-bottom: 6px;
      }
      ul {
        li {
          span {
            font-size: 14px;
          }
        }
      }
    }
  }
}
@media screen and (max-width: 450px) {
  .posts-wrapper {
    header {
      ul {
        li {
          margin: 0 2%;
        }
      }
    }
  }
}
