.posts-wrapper {
  width: 100%;
  background-color: white;
  .blog-container {
    min-height: 500px;
    border-top: 15px solid black;
    border-bottom: 15px solid black;
    border-right: 2px solid black;
    border-left: 2px solid black;
    margin-bottom: 30px;
    position: relative;
    padding: 50px;
  }
}


@media screen and (max-width:768px){
  .posts-wrapper {
    .blog-container {
      padding: 20px;
    }
  }
}
