@font-face {
    font-family: 'goudy_old_style_small_caps_Rg';
    src: url('/assets/Fonts/goudy-caps/goudy_old_style_small_caps__ol_regular-webfont.woff2') format('woff2'),
         url('/assets/Fonts/goudy-caps/goudy_old_style_small_caps__ol_regular-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}
@font-face {
    font-family: 'preciousregular';
    src: url('/assets/Fonts/precious/precious-webfont.woff2') format('woff2'),
         url('/assets/Fonts/precious/precious-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}
.posts-wrapper {
  width: 100%;
  background-color: white;
  header {
    height: 140px;
    background-color: #eee;
    margin-bottom: 30px;
    h2 {
      display: flex;
      justify-content: center;
      align-items: flex-end;
      padding-bottom: 20px;
      margin-top: 20px;
      margin-bottom: 0;
      height: 100px;
      font-weight: 600;
      letter-spacing: 1px;
      font-family: 'goudy_old_style_small_caps_Rg';
      .first-letter {
        font-family: 'preciousregular';
        font-weight: 700;
        margin-right: 7px;
        font-size: 40px;
        line-height: 1;
      }
    }
    ul {
      list-style: none;
      display: flex;
      justify-content: center;
      align-items: center;
      background-color: white;
      li {
        cursor: pointer;
        margin: 0 25px;
        border: 1px solid transparent;     
        display: flex;
        align-items: center;
        justify-content: center;
        span {
          font-family: 'goudy_old_stylebold';
          font-size: 22px;
          line-height: 22px;
          padding-top: 2px;
        }
        &:focus {
          outline: none;
        }
        &.active-link {
          border: 1px solid black;
          position: relative;
          &:before, &:after {
            content: "";
            display: block;
            background-repeat: no-repeat;
            background-size: 100% 100%;
            background-position: center center;
            width: 60px;
            height: 20px;
            position: absolute;
            left: 50%;
            transform: translateX(-50%);
          }
          &:before {
            background-image: url('../../assets/newAssets/picture-arrow-up.png');
            top: -18px;
          }
          &:after {
            background-image: url('../../assets/newAssets/picture-arrow-down.png');
            top: 22px;
          }
        }
      }
    }
  }
  .posts-container {
    height: 1000px;
    border-top: 20px solid black;
    border-bottom: 20px solid black;
    border-right: 2px solid black;
    border-left: 2px solid black;
    margin-bottom: 30px;
    position: relative;
    .corner {
      position: absolute;
      width: 195px;
      height: 185px;
      background-size: contain;
      background-repeat: no-repeat;
    }
    .bottom-left-corner {
      background-image: url('/assets/land-bor-b-l.png');
      bottom: -4px;
      left: 0;
    }
    .bottom-right-corner {
      background-image: url('/assets/land-bor-b-r.png');
      width: 188px;
      height: 183px;
      bottom: -1px;
      right: 0;
    }
    .top-left-corner {
      background-image: url('/assets/land-bor-t-l.png');
      top: 0;
      left: 0;
    }
    .top-right-corner {
      background-image: url('/assets/land-bor-t-r.png');
      top: 0;
      right: 0;
    }

  }

}