<div class="checkout-wrapper" *ngIf="!fetchOrderLoading">
  <h3 class="title" *ngIf="!showDetails">Congratulations! Your order has been placed.</h3>
  <div class="back-block" routerLink="../../orders" *ngIf="showDetails">
    <img src="/assets/back.jpg" alt="back-arrow" class="back-icon">
    <span>Back to orders</span>
  </div>
  <div id="checkout">
    <div class="order-title">
      <span>Order number: №{{order['order_number']}}</span>
    </div>
    <div class="info-title">Customer information:</div>
    <div>
      <div class="info">
        <span class="item-title">First name: </span>
        <span class="item-text">{{order.first_name}}</span>
      </div>
      <div class="info">
        <span class="item-title">Surname: </span>
        <span class="item-text">{{order.surname}}</span>
      </div>
      <div class="info">
        <span class="item-title">Phone: </span>
        <span class="item-text">{{order.phone}}</span>
      </div>
      <div class="info">
        <span class="item-title">Postal code: </span>
        <span class="item-text">{{order.post_code}}</span>
      </div>
      <div class="info">
        <span class="item-title">Country: </span>
        <span class="item-text">{{order.country}}</span>
      </div>
      <div class="info">
        <span class="item-title">City: </span>
        <span class="item-text">{{order.city}}</span>
      </div>
    </div>
    <div class="total">Total amount to be paid: {{order['total_amount']}}$</div>
    <table>
      <tr>
        <th>Brand</th>
        <th>Category</th>
        <th>Subcategory</th>
        <th>Size</th>
        <th>Quantity</th>
        <th>Amount</th>
      </tr>
      <ng-container *ngIf="order.products && order.products.length">
        <tr *ngFor="let order_item of order.products">
          <td>{{order_item.brand}}</td>
          <td>{{order_item.category}}</td>
          <td>{{order_item.subcategory}}</td>
          <td>{{order_item.size}}</td>
          <td>{{order_item.quantity}}</td>
          <td>{{order_item.amount}}$</td>
        </tr>
      </ng-container>
    </table>
  </div>
</div>
<div class="loader-wrapper">
  <app-ripple *ngIf="fetchOrderLoading"></app-ripple>
</div>

