<div class="modal-body details-modal-body" *ngIf="post">
    <h5 class="modal-title details-modal-title">{{ post.title }}</h5>
    <button type="button" class="close" data-dismiss="modal" aria-label="Close" (click)="modalRef.hide()">
      <span aria-hidden="true">&times;</span>
    </button>
    <div class="post-wrapper">
      <img [src]="post['image']" alt="" class="post-image">
      <div [innerHTML]="post.content" class="post-content"></div>
      <span class="post-owner">{{ postOwner }}</span>
    </div>
    <div class="view">View comments</div>
    <div class="separator" (click)="toggleComments()"></div>
    <div [ngClass]="{show: displayComments, hide: !displayComments}">
      <div class="info-message" *ngIf="comments.length == 0">There are no comments yet</div>
      <ng-container *ngIf="comments.length !== 0">
        <app-comment (onDeleteComment)="onDeleteComment($event)" *ngFor="let comment of comments" [comment]="comment" [comments]="comments" [post]="post"></app-comment>
      </ng-container>
      <hr>
      <div class="input-wrapper" *ngIf="isAddCommentAllowed()">
        <input type="text"
               maxlength="255"
               placeholder="Add a comment"
               class="add-comment-input"
               [(ngModel)]="commentText"
               (keyup.enter)="onAddComment()">
        <button class="my-button cta" (click)="onAddComment()" [disabled]="!commentText">
          <span>Submit</span>
        </button>
      </div>
    </div>
</div>
<div class="modal-footer details-modal-footer">
  <div class="post-nav">
    <div class="arrow-left" (click)="previousPost()" [ngClass]="{'not-active': modalIndex == 0}"></div>
    <div class="line">|</div>
    <div class="arrow-right" (click)="nextPost()" [ngClass]="{'not-active': modalIndex == postsIds.length - 1}"></div>
    <a class="edit-post" (click)="onEditPost()" *ngIf="isEditPostAllowed()">Edit post</a>
  </div>
</div>


