td {
  cursor: pointer;
  padding: 5px;
  border: 1px solid black;
  .inputfile {
      width: 0.1px;
      height: 0.1px;
      opacity: 0;
      overflow: hidden;
      position: absolute;
      z-index: -1;
    }
    .inputfile + label {
      background-color: transparent;
      display: inline-block;
      cursor: pointer;
      margin-bottom: 0;
      .avatar {
        width: 40px;
        height: 40px;
        overflow: hidden;
        border-radius: 50%;
        object-fit: cover;
      }
    }
  button.action {
    border: none;
    background: transparent;
    cursor: pointer;
    color: #419af4;
    &:hover {
      color: #5942f4;
    }
  }
  button[disabled] {
    cursor: not-allowed;
  }
  input {
    border: 1px solid grey;
    border-radius: 5px;
    width: 100%;
    min-width: 150px;
    max-width: 250px;
    height: 30px;
    padding: 0 7px;
    &:focus {
      outline: none;
      border: 1px solid rgb(77, 144, 254);
      box-shadow: 0 0 0 1px rgb(77, 144, 254);
      border-radius: 5px;
    }
  }
  .error {
    font-size: 12px;
    color: red;
    margin-top: 5px;
  }
  select {
    cursor: pointer;
    max-width: 150px;
    width: 100%;
    min-width: 70px;
    padding: 5px 20px 5px 5px;
    font-size: 16px;
    line-height:1;
    border: 1px solid #ccc;
    height: 30px;
    border-radius: 5px;
    outline-radius: 5px;
    appearance: none;
    background: url('/src/assets/arrow.png') 96% / 10px no-repeat #eee;
    &:focus {
      outline: none;
      border: 1px solid rgb(77, 144, 254);
      box-shadow: 0 0 0 1px rgb(77, 144, 254);
    }
  }
}

