<td>
  <input type="file"
           name="file"
           class="inputfile"
           #inputFile
           fileUpload
           (imageURLUploaded)="imageUrlHandler($event)"
           (fileUploaded)="fileUploaded($event)">
  <label (click)="openFileBrowser($event)">
    <img [src]="user.image" class="avatar">
  </label>
</td>
<td>{{user.email}}</td>
<td>
  <input autocomplete="new-password" type="password" [(ngModel)]="newPassword">
  <div *ngIf="checkErrors()" class="error">{{ checkErrors() }}</div>
</td>
<td>
  <select [(ngModel)]="selectedRole">
    <option *ngFor="let role of roles"
          [ngValue]="role.role"
          [disabled]="currentUserRole == 'premium'">
          {{ role.role }}
    </option>
  </select>
</td>
<td>
  <button class="action" (click)="onSaveChanges()" [disabled]="isCurrentUser()">Save changes</button>
</td>
<td>
  <button class="action" (click)="onDeleteUser()" [disabled]="isCurrentUser()">Delete user</button>
</td>
