.loading-animation {
  position: absolute;
  top: 70px;
  left: 50%;
  transform: translateX(-50%);
}
.cart-container {
  padding: 60px 0 30px;
  width: 70%;
  margin: 0 auto;
  .no-cart-box {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    font-family: 'goudy_old_stylebold';
    .cart-icon {
      width: 100px;
      height: 100px;
      margin-top: 30px;
    }
    .title {
      font-size: 28px;
      font-weight: 600;
      margin: 20px 0;
    }
    .text {
      font-size: 20px;
      a {
        color: #e23f50;
        text-decoration: none;
      }
    }
  }
  .cart-header {
    display: flex;
    border-bottom: 3px solid black;
    padding-bottom: 5px;
    margin-bottom: 15px;
    font-family: 'goudy_old_stylebold';
    .amount {
      width: 50%;
      text-align: left;
    }
    .qty {
      width: 25%;
      text-align: center;
      margin-left: 100px;
    }
    .price {
      width: 25%;
      text-align: right;
    }
  }
  .total-wrapper {
    width: 100%;
    margin-left: auto;
    display: flex;
    justify-content: flex-end;
    align-items: center;
    background: #F4F0ED;
    margin-bottom: 15px;
    border-radius: 10px;
    padding: 5px;
    h5 {
      font-family: 'goudy_old_stylebold';
      font-size: 22px;
      line-height: 22px;
      margin-right: 50px;
      margin-bottom: 0;
    }
  }
  .button-wrapper {
    width: 100%;
    text-align: center;
    margin: 20px 0;
  }
}

@media screen and (max-width:991px){
  .cart-container {
    width: 90%;
  }
}

@media screen and (max-width:576px){
  .cart-container {
    padding-top: 30px;
    padding-bottom: 0;
    .cart-header {
      .amount {
        width: 100%;
        text-align: center;
      }
      .qty {
        display: none;
      }
      .price {
        display: none;
      }
    }
  }
}

@media screen and (max-width: 450px) {
  .cart-container {
    width: 100%;
  }
}
