<div class="loading-animation">
  <app-ripple *ngIf="getCartLoading"></app-ripple>
</div>

<div class="cart-container" *ngIf="cart && !getCartLoading">
  <div *ngIf="!cart.length" class="no-cart-box">
    <img src="/assets/empty-bag.svg" alt="" class="cart-icon">
    <div class="title">Cart is empty.</div>
    <div class="text">Looks like you have no items in your shopping cart.</div>
    <div class="text">Click <a routerLink="/shop/products">here</a> to continue shopping.</div>
  </div>
  <ng-container *ngIf="cart.length">
    <header class="cart-header">
      <div class="amount">{{totalNumberOfProducts}} PRODUCTS</div>
      <div class="text qty">Quantity</div>
      <div class="text price">Price</div>
    </header>
    <app-cart-item *ngFor="let cartItem of cart"
                   [cartItem]="cartItem"
                   [totalNumberOfProducts]="totalNumberOfProducts"
                   [isAddedToCart]="isAddedToCart"></app-cart-item>
    <div class="total-wrapper">
      <h5>Total amount:</h5>
      <strong>${{totalAmount}}</strong>
    </div>
    <div class="button-wrapper">
      <button class="my-button order-btn" (click)="onOpenOrder()"><span>Proceed to checkout</span></button>
    </div>
    <router-outlet></router-outlet>
  </ng-container>
  <div class="loading-process-with-dim-background" *ngIf="addToCartLoading || decreaseCartLoading || deleteFromCartLoading">
    <app-spinner></app-spinner>
  </div>
</div>



