.corner {
  position: absolute;
  width:110px;
  height:105px;
  background-size: contain;
  background-repeat: no-repeat;
  z-index: 10;
  pointer-events: none;
}
.bottom-left-corner {
  background-image: url('/assets/land-bor-b-l.png');
  bottom: 0;
  left: 0;
}
.bottom-right-corner {
  background-image: url('/assets/land-bor-b-r.png');
  bottom: -2px;
  right: 0;
}
.top-left-corner {
  background-image: url('/assets/land-bor-t-l.png');
  top: 0;
  left: 0;
}
.top-right-corner {
  background-image: url('/assets/land-bor-t-r.png');
  top: 0;
  right: 0;
}

