@import '../../../variables';

.admin-main {
  background-color: white;
  padding-top: 30px;
  display: flex;
  justify-content: flex-start;
  align-items: flex-start;
  width: 100%;
  .admin-menu {
    width: 300px;
    height: auto;
    background-color: #eee;
    border-radius: 5px;
    li {
      cursor: pointer;
      border-bottom: 2px solid #ccc;
      outline: 1px solid white;
      border-radius: 5px;
      &:hover {
        background-color: #ccc;
        border-radius: 5px;
      }
      .nav-link {
        cursor: pointer;
        position: relative;
        color: #000;
        border-radius: 5px;
        &.active {
          color: $red_color;
        }
        .nav-link-text {
          text-shadow: 1px 1px 1px #fff;
        }
      }
    }
  }
  .admin-content {
    width: 100%;
    padding-left: 30px;
    .breadcrumb {
      background-color: #eee;
      .breadcrumb-item {
        &.active {
          .breadcrumb-text {
            pointer-events: none;
            color: black;
          }
        }
        .breadcrumb-text {
          color: rgba(0,0,0,.6);
        }
      }
    }
  }
}
